* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;

}

body {
  height: 100%;
  width: 100%;
  font-family: Futura;
  background-color: #555555;
  display: table;
}

header {
  height: 48px;
  color: #EEEEEE;
  background-color: #0F0F0F;
  display: table-row;
}

header h1 {
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  display: table-cell;
}

a, a:visited {
  color: white;
}

hr {
  margin: 8px 16px;
}

#mainContainer {
  height: 100%;
  width: 100%;
  margin: auto;
  border-width: 2px;
  border-color: #999999;
  background: #333333;
  text-align: center;
  display: table;
}

#mainContainer > div {
  height: 100%;
}

#divColorSelect {
  width: 600px;
  text-align: center;
  vertical-align: top;
  background-color: #777777;
  display: table-cell;
}

#divPaintArea {
  text-align: center;
  vertical-align: middle;
  background-color: #AAAAAA;
  display: table-cell;
}

.row {
  margin: 0;
  height: 18px;
  border-width: 0;
}

.cell {
  margin: 0px;
  height: 16px;
  width: 16px;
  border-width: 1px;
  border-color: #AAAAAA;
  background-color: #DDDDDD;
  border-style: solid;
  display: inline-block;
}

#divCurrentColor {
  height: 40px;
  width: 144px;
  margin: auto;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  border-color: black;
  background-color: Gray;
  display: table;
}

#spanCurrentColor {
  margin: auto;
  vertical-align: middle;
  display: table-cell;
}

.palette-color-button {
  height: 28px;
  width: 28px;
  margin: 1px;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  display: inline-block;
}

footer {
  height: 32px;
  padding: 16px;
  text-align: center;
  color: #EEEEEE;
  background-color: #1F1F1F;
  display: table-row;
}

footer h4 {
  vertical-align: middle;
  display: table-cell;
}
